<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#e3f2fd;">
  <a class="navbar-brand" href="#" (click)="jobPage = false"><img src="https://www.symbols.com/images/symbol/1842_home-icon.png" alt="Home" height="25" width="25"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="jobPage = true">Jobs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="customerPage = true">Customers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="partsPage = true">Parts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="employeePage = true">Employees</a>
      </li>
      <li class="nav-item dropdown {{show}}" (click)="dropdownExpand()">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded='{{dropExpand}}'>
          Departments
        </a>
        <div class="dropdown-menu {{show}}" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#" (click)="plumbingPage = true">Plumbing</a>
          <a class="dropdown-item" href="#" (click)="heatingPage = true">Heating</a>
          <a class="dropdown-item" href="#" (click)="septicPage = true">Septic</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="!jobPage && !customerPage && !partsPage && !employeePage && !plumbingPage && !heatingPage && !septicPage">
<div class="header"><h1>Welcome to your personal company <br> management site</h1></div>
<p></p>




</div>


<div *ngIf="!selected && jobPage && addJob">
  <h1 class="newJobHeader">New Job</h1>
  <form >
    <label for="new">New Customer: &nbsp;</label>
    <input type="checkbox" name="new" (click)='setNewCustomer()' [(ngModel)]="newCustomerAddJob"><br>
  </form>
  <form #newJobForm ='ngForm'>
  <div *ngIf='newCustomerAddJob'>
  <label for="name">Company: &nbsp;</label>
  <input type="text" name="new" placeholder="Company" [(ngModel)]="newJobNewCustomer.company"><br>
  <label for="name">First Name: &nbsp;</label>
  <input type="text" name="new" placeholder="First Name" [(ngModel)]="newJobNewCustomer.firstName">&nbsp;
  <label for="name">Last Name: &nbsp;</label>
  <input type="text" name="new" placeholder="Last Name" [(ngModel)]="newJobNewCustomer.lastName"><br>
  <label for="name">Email: &nbsp;&nbsp;</label>
  <input type="email" name="new" placeholder="Email" [(ngModel)]="newJobNewCustomer.email"><br>
</div>
      <button type="button" name="submit" (click)="createNewJob()">Create New Job</button>


  </form>
</div>

<div *ngIf='!selected && jobPage && !addJob'>
  <button (click)='addJob = true'>Add Job</button>






  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <td>Job ID #</td>
        <td>Name</td>
        <td>Address</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let j of jobs" (click)="setJob(j)">
        <td>{{ j.id}}</td>
        <td>{{ j.name }}</td>
        <td>{{ j.address.address}} {{j.address.address2}} {{j.address.city}}, {{j.address.state}} {{j.address.zip}}</td>
        <td class="tableButton"><button (click)='updateJob = true'>Update Job</button></td>
        <td class="tableButton"><button>Delete Job</button></td>
      </tr>
    </tbody>
  </table>
  </div>
<div *ngIf="selected && jobPage && updateJob">
  Update Form
</div>


  <div *ngIf="selected && jobPage">






  </div>
