@import "~bootstrap/dist/css/bootstrap.css";

.tableButton{
  text-align: center;
}
.newJobHeader{
  text-align: center;
}

.errors {
  color: red;
}
#jobName:hover{
  text-decoration: underline;
  color: royalblue;
}
